/*global styles*/
html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Poppins' , sans-serif;
}

h1{
    font-size: 2.6rem;
}

li,
button,
label,
input,
p{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
}

h4,h5{
    font-size: 2.8rem;
}

a{
    color: white;
    text-decoration: none;
}

button{
    padding:2rem 6rem;
    background: #4c6e97;
    border: none;
    color: white;
    font-size: 1.8rem;
    curson:pointer;
    transition: background 0.1 ease-in-out;
}

button:hover{
    background-color: #27394e;
}

/* nav with hero */

.main-head{
    background: #131c27;
    color: white;
    position: sticky;
    top:0px;
    z-index: 3; 
}

#logo{
    flex:2 1 40rem;
    font-family: 'Poppins' , sans-serif;
    font-size: 3rem;
}









.card{
    flex: 1 1 25rem;
    min-height: 40vh;
    margin:2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1) ,0px 200px 20px rgba(0,0,0,0.1);
}

.cards img{
    max-width: 15%;
    margin: 2rem;
}

.card h4,p{
    padding:1rem;
}

.card-icon{
    background: #27394e;
}
